<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../js/util.js"></script>
  <link rel="stylesheet" href="../style/style.css">
  <link rel="stylesheet" href="./modal.css">
  <title>비밀번호 변경</title>
</head>
<body class="tab-body modal">
  <!-- 아래 div가 기존 data-tab div 내부에 삽입됩니다. -->
<div id="pageContent" class="change-password">
  <h3>비밀번호 변경</h3>
  <form id="formChangePassword">
    <div class="form-labels">
      <label for="" class="label--input-text">
        <h5>현재 비밀번호</h5>
        <input type="text" placeholder="사용중인 비밀번호를 입력해주세요.">
      </label>
      <label for="" class="label--input-text">
        <h5>새 비밀번호</h5>
        <input type="text" placeholder="새 비밀번호를 입력해주세요.">
      </label>
      <label for="" class="label--input-text">
        <h5>새 비밀번호 확인</h5>
        <input type="text" placeholder="새 비밀번호를 한 번 더 입력해주세요.">
      </label>
    </div>
    <div class="flex-btn-row">
      <button class="btn-primary-l">변경</button>
      <button class="btn-secondary-l" id="closeModal">취소</button>
    </div>
  </form>
</div>

</body>
</html>
