<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../js/util.js"></script>
  <link rel="stylesheet" href="../style/style.css">
  <link rel="stylesheet" href="./modal.css">
  <title>단지코드변경</title>
</head>
<body class="tab-body modal">
  <!-- 아래 div가 기존 data-tab div 내부에 삽입됩니다. -->
<div id="pageContent" class="change-complex">
  <h3>단지코드변경</h3>
  <form id="formChangeComplex">
    <!-- <div> -->
      <label class="label-title" for="">단지코드</label>
      <input type="text" placeholder="단지코드로 검색">
    <!-- </div> -->
    <!-- <div> -->
      <label class="label-title" for="">단지명</label>
      <input type="text" placeholder="단지명으로 검색">
    <!-- </div> -->
    <button class="btn-primary-l ">조회</button>
  </form>
  <div class="change-complex-result"></div>
  <div class="flex-btn-row">
    <button class="btn-primary-l">변경</button>
    <button class="btn-secondary-l" id="closeModal">취소</button>
  </div>
</div>

</body>
</html>
