@import "breakpoints";

// ------------------ fontSize ------------------ //
@mixin textCenter{
  text-align: center;
  text-wrap: balance;
}

@mixin preline{
  text-wrap: pre;
}

@mixin fontH3Bold{
  font-size: var(--font-h3);
  font-weight: 800;
}
@mixin fontH3{
  font-size: var(--font-h3);
  font-weight: 500;
}
@mixin fontH4Bold{
  font-size: var(--font-h4);
  font-weight: 700;
}

@mixin fontH4{
  font-size: var(--font-h4);
  font-weight: 500;
}

@mixin fontP{
  font-size: var(--font-p);
  font-weight: 500;
}
@mixin fontPBold{
  font-size: var(--font-p);
  font-weight: 600;
}

@mixin fontSp{
  font-size: var(--font-sp);
  font-weight: 500;
}
@mixin fontSpSB{
  font-size: var(--font-sp);
  font-weight: 650;
}
@mixin fontSp2{
  font-size: var(--font-sp2);
  font-weight: 500;
}

@mixin description{
  font-size: var(--font-sp);
  font-weight: 500;
  line-height: 1.44;
}

// ------------------ color ------------------ //

@mixin bg-blur{
  background: var(--color-background);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@mixin bg-primary-middle{
  background: var(--primary-middle);
  transition: 0.25s all ease-in-out;
  color: var(--color-invert);
  
  &:hover{
    background: var(--primary-middleHover);
  }
}

@mixin bg-error {
  background: var(---color-error);
}

@mixin text-primary-middle{
  color: var(--primary-middle);
}

@mixin bg-error{
  background: var(--color-error);
  transition: 0.25s all ease-in-out;

  &:hover{
    background:var(--color-errorHover);
  }
}

@mixin bg-grayscale-40{
  background: var(--grayscale-40);
  transition: 0.25s all ease-in-out;

  &:hover{
    background:var(--grayscale-50);
  }
}

// ------------------ flex ------------------ //

@mixin flex{
  display: flex;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexBetween{
  display: flex;
  justify-content: space-between;
}

@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}


// ------------------ border-radius ------------------ //
@mixin rounded($radius){
  border-radius: $radius;
}
@mixin roundedT($radius){
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin roundedB($radius){
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
@mixin roundedL($radius){
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin roundedR($radius){
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

// ------------------ background box Template ------------------ //
@mixin modalBox{
  @include rounded(var(--rounded-box));
  background: var(--color-background);
  border: 1px solid var(--color-stroke);
}
@mixin modalButton{
  @include rounded(var(--rounded-button));
  background: var(--color-background);
  border: 1px solid var(--color-stroke);
}


// ------------------ button ------------------ //
@mixin button{ // transparent button
  @include rounded(var(--rounded-button));
  // overflow:hidden;
  cursor: pointer;
  &::before{
    @include rounded(var(--rounded-button));
    content: '';
    position: absolute;
    background: var(--color-background);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--color-stroke);
    opacity: 0;
    transition: 0.25s all ease-in-out;
  }
  &:hover::before{
    opacity: 1;
  }
}

// ------------------ global ------------------ //
//scroll
@mixin scrollHide{
  scroll-behavior: smooth;
  /* width */
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}

// ------------------ sizing ------------------ //
@mixin w-full{
  width: 100%;
}

@mixin size-xs{
  width: var(--size-xs);
  height: var(--size-xs);
}
@mixin size-s{
  width: var(--size-s);
  height: var(--size-s);
}
@mixin size-m1{
  width: var(--size-m1);
  height: var(--size-m1);
}
@mixin size-m2{
  width: var(--size-m2);
  height: var(--size-m2);
}
@mixin size-m3{
  width: var(--size-m3);
  height: var(--size-m3);
}
@mixin size-m4{
  width: var(--size-m4);
  height: var(--size-m4);
}
@mixin size-l{
  width: var(--size-l);
  height: var(--size-l);
}
@mixin size-xl{
  width: var(--size-xl);
  height: var(--size-xl);
}
@mixin size-xxl{
  width: var(--size-xxl);
  height: var(--size-xxl);
}
@mixin size-xxxl{
  width: var(--size-xxxl);
  height: var(--size-xxxl);
}

// ------------------ padding ------------------ //

@mixin mg-x($size){
  margin-left: $size;
  margin-right: $size;
}

@mixin mg-y($size){
  margin-top: $size;
  margin-bottom: $size;
}
@mixin pd-x($size){
  padding-left: $size;
  padding-right: $size;
}

@mixin pd-y($size){
  padding-top: $size;
  padding-bottom: $size;
}