<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<footer class="main-footer_container" id="moduleContent">
  <div>
    <a>이용약관</a>
    <a>개인정보처리방침</a>
    <a>고객센터 | 051-123-4567</a>
  </div>
  <div>
    <input type="range" min="13" max="20" value="16" id="globalFontSize" name="globalFontSize"/>
    <button><a href="/hub/">허브로 이동</a></button>
    <select>
      <option>패밀리사이트</option>
    </select>
  </div>
</footer>
</body>
</html>
