<div id="screen_top">
    <h1>test5</h1>
    <div>
        전기검침 조회조건 영역
        {% if search_auth %}
            <button type="button" class="btn btn-primary">조회</button>
        {% endif %}
        {% if print_auth %}
            <button type="button" class="btn btn-primary">출력</button>
        {% endif %}
        <label>
            <input type="checkbox" checked> 체크박스 테스트
        </label>
        <input type="text" value="">
    </div>
    <div>
        <select name="h031_select">
            {% for item in data_h031 %}
                <option value="{{ item.DETL_CD }}" {% if forloop.first %}selected{% endif %}>{{ item.DETL_NM }}</option>
            {% endfor %}
        </select>
        <select name="1150_select">
            {% for item in data_1150 %}
                <option value="{{ item.DETL_CD }}" {% if forloop.first %}selected{% endif %}>{{ item.DETL_NM }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div>
    <div id="myGrid" class="ag-theme-alpine" style="height: 450px; width: 100%;">
    </div>
</div>