<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/data/data.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/inputs.js"></script>
  <link rel="stylesheet" href="../style/style.css">
  <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>

  <!-- <link rel="stylesheet" href="./calendar.css"> -->
  <title>템플릿1</title>
</head>
<body class="tab-body">
  <div class="template-8 template" id="pageContent">
    <div class="tab-filter-container">
      <div></div>      
      <button class="tab-filter-fold">
        <svg width="16" height="16" viewBox="0 0 16 16" >
          <path d="M1.22048 8.30074C1.5464 8.67604 2.11484 8.71607 2.49013 8.39015L7.90001 3.6921L13.3099 8.39015C13.6852 8.71607 14.2536 8.67604 14.5795 8.30074C14.9055 7.92545 14.8654 7.35701 14.4901 7.0311L8.49013 1.82057C8.15163 1.52661 7.6484 1.52661 7.3099 1.82057L1.3099 7.03109C0.934602 7.35701 0.89457 7.92545 1.22048 8.30074ZM1.22048 14.0902C1.5464 14.4655 2.11484 14.5055 2.49013 14.1796L7.90001 9.48157L13.3099 14.1796C13.6852 14.5055 14.2536 14.4655 14.5795 14.0902C14.9055 13.7149 14.8654 13.1465 14.4901 12.8206L8.49013 7.61004C8.15163 7.31608 7.6484 7.31608 7.3099 7.61004L1.3099 12.8206C0.934601 13.1465 0.89457 13.7149 1.22048 14.0902Z" fill="white"/>
        </svg>          
      </button>
    </div>
    <div class="col-2">
      <div>
        <div class="input-row">
          <h4>서브타이틀</h4>
        </div>
        <div class="grid-container">
          <div class="ag-theme-quartz grid-table" data-grid-data="gridOptions" ></div>
        </div>
        <p>총 00건이 수정되었습니다.</p>
      </div>
      <div>
        <div class="input-row">
          <h4>서브타이틀</h4>
        </div>
        <div class="grid-container">
          <div class="ag-theme-quartz grid-table" data-grid-data="gridOptions" ></div>
        </div>
        <p>총 00건이 수정되었습니다.</p>
      </div>
    </div> 
  </div>
  <script src="./template-8.js"></script>
</body>
</html>
